* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.admin-dashboard {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.side-bar {
    width: 20%;
    height: 100%;
    background-color: #ccc;
    float: left;
    border-right: 1px solid #ccc;
    padding-left: 20px;
}

.admin-content {
    width: 80%;
    height: 100%;
    background-color: #fff;
    float: right;
    padding: 4rem;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu > a {
    color: white;
    text-decoration: none;
}

/* posts */

.posts-container {
    margin-top: 2rem;
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.post {
    width: 48%;
    padding: 0.75rem;
    border: 1.5px solid rgb(214, 214, 214);
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.post-data > div {
    margin-bottom: 5px;
}

.post-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.25px;
}

.download-btn > a {
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
    margin-left: 30px;
}
