* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.admin-dashboard {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.side-bar {
    width: 20%;
    height: 100%;
    background-color: #ccc;
    float: left;
    border-right: 1px solid #ccc;
    padding-left: 20px;
}

.admin-content {
    width: 80%;
    height: 100%;
    background-color: #fff;
    float: right;
    padding: 4rem;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu > a {
    color: white;
    text-decoration: none;
}

/* posts */

.posts-container {
    margin-top: 2rem;
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.post {
    width: 48%;
    padding: 0.75rem;
    border: 1.5px solid rgb(214, 214, 214);
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.post-data > div {
    margin-bottom: 5px;
}

.post-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.25px;
}

.download-btn > a {
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
    margin-left: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1.5rem;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.btn {
    height: max-content;
    background-color: #2196f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0.25rem;
}

.modal {
    display: none;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    width: max-content;
    padding: 2rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.modal-header {
    margin-bottom: 1.5rem;
}

.modal-header > h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.25px;
    margin-top: 1.5rem;
}

.modal-label {
    font-size: 1rem;
    font-weight: 500;
    color: grey;
    letter-spacing: 0.25px;
}

.modal-input {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    padding: 10px;
    font-size: 1.125rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid grey;
}

textarea:focus,
input:focus {
    outline: none;
}

.close {
    font-size: x-large;
    color: #000;
    cursor: pointer;
}
